<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>INVERDROP</title>
    <script>
        // Recargar la página automáticamente cada 3 segundos
        setInterval(() => {
            location.reload();
        }, 3000); // 3000 ms = 3 segundos
    </script>
</head>
<body>
<div class="container">
    <img src="{{ url_for('static', filename='img/Inverdrop_Original_Logo_300KB.png') }}" alt="Logo Inverdrop" style="width: 120px;">

    <h1>Bienvenido, {{ username }}</h1>

    <h2>Parámetros del invernadero</h2>
    <div class="parametros">
        <div class="parametro">
            <span>🌱</span>
            <p><strong>Humedad del Suelo:</strong> {{ parametros.humedad }}%</p>
        </div>
        <div class="parametro">
            <span>☀️</span>
            <p><strong>Nivel de Luz:</strong> {{ parametros.luz }}%</p>
        </div>
        <div class="parametro">
            <span>🌡️</span>
            <p><strong>Temperatura Ambiente:</strong> {{ parametros.temperatura }} °C</p>
        </div>
        <div class="parametro">
            <span>💧</span>
            <p><strong>Estado de la Bomba:</strong> {{ 'Encendida' if parametros.estado_bomba == 1 else 'Apagada' }}</p>
        </div>
    </div>

    <div class="links">
        <a href="{{ url_for('control_riego') }}" class="btn">Ir al Control de Riego</a>
        <a href="{{ url_for('logout') }}" class="btnCerrar">Cerrar Sesión</a>
    </div>
</div>
</body>
</html>
